<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="about.html">About Us</a>
        <a href="contact.html">Contact Us</a>
        <a href="privacy.html">Privacy Policy</a>
	<a href="articles.html">articles</a>

    </nav>
    <div class="container">
        <h2>About Ocyrus and Pixel Brokerage</h2>
        <p>Provide information about your company, mission, and vision here.</p>
    </div>
</body>
</html>
